{% extends 'layout.html' %} {% block content %}
<h1>기사</h1>
<div>
  {% for item in data %} 예약한 사람 {{loop.index}}
  <div>
    <ul>
      <li>고객명 {{item.name}}</li>
      <li>고객 전화번호{{item.tel}}</li>
      <li>고객 이메일{{item.email}}</li>
      <li>제빙기 청소할 주소{{item.addr}}</li>
    </ul>
    <button class="pick" type="button" data-item-res="{{item.res_no}}">
      내꺼야
    </button>
  </div>
  {% endfor %}
</div>
{% endblock %} {% block script %}
<script>
  const pickArray = document.querySelectorAll(".pick");
  pickArray.forEach((pick) => {
    pick.addEventListener("click", async () => {
      console.log(pick.dataset.itemRes + "배송할예정");

      console.log(pick.parentElement.querySelector('ul>li').innerHTML);

    //   axios.post("http://localhost:4001/gisa", {
    //     resno: pick.dataset.itemRes,
    //     name: "박명회",
    //     tel: "010-9946-6266",
    //     email: "dron512@naver.com",
    //     addr: "43120,\n                대구 군위군 군위읍 경북대로 3560-1,\n                123123",
    //     date: "2025-06-11",
    //     time: "오전 10시 ~ 오후 1시",
    //     model: "ㅅ삼성",
    //     capacity: "1",
    //     service: "청소",
    //     cycle: "이번 한 번만",
    //     add: "필터 교체",
    //     remark: "ㅋㅋㅋㅋ\n",
    //     deposit: 2,
    //   });
    //   console.log(result);
    });
  });
</script>
{% endblock %}
